<header data-spy="affix" data-offset-top="80" class="desktop">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-navbar></app-navbar>
            </div>
        </div>
    </div>
</header>

<carousel class="banner">
	<slide>
	    <img src="assets/images/wall1.jpg" alt="First slide" style="display: block; width: 100%;">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>First slide label</h3>
	      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	    </div>
	</slide>

	<slide>
	    <img src="assets/images/wall2.jpg" alt="Second slide" style="display: block; width: 100%;">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>Second slide label</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	    </div>
	</slide>

	<slide>
	    <img src="assets/images/wall3.jpg" alt="Third slide" style="display: block; width: 100%;">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>Third slide label</h3>
	      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
	    </div>
	</slide>
</carousel>