.createAccount{width: 100%; height: auto; float: left; margin: 60px 10px; border-radius: 5px; overflow: hidden; box-shadow: 0 2px 30px #ccc;}
.signupImage, .signupImageHover, .signupContent{width: 100%; height: auto; float: left;}
.signupImage{position: relative;     top: -2px;}
.signupImageHover{position: absolute;top: 0; background: linear-gradient(rgba(0,131,157,0.7),rgba(4,202,148,0.8)); height: 100%; padding: 20px;}
.signupImageHover h1{color: #fff; text-align: left; font-weight: 800; line-height: 162px;}
.signupImageHover p{color: #fff; font-size: 15px; font-weight: 400; text-align: justify; line-height: 2;}

.signupContent{background: #fff; padding: 20px; overflow: hidden;}
.signupContent h1{color: #00839d; text-align: center; font-weight: 800; line-height:60px;}
.signupContent p{ color: #292c31;   text-align: center;    line-height: 2;    font-size: 16px;}
.signupContent h5{text-align: center;    text-transform: uppercase;    line-height: 36px;}
.signupContent .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.signupContent .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.signupContent .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.signupContent .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.signupContent .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.signupContent .omb_socialButtons .omb_btn-google {background: #c32f10;}

.signupContent .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.signupContent .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.signupContent .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.signupContent .omb_loginForm .input-group.i {
	width: 2em;
}
.signupContent .omb_loginForm  .help-block {
    color: red;
}
