  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">Name : {{ user.name }}</h4>
      <p class="card-text">Email : {{ user.email }}</p>
      <p class="card-text">ID : {{ user.id }}</p>
      <p class="card-text">First Name :{{ user.firstName }}</p>
      <p class="card-text">Last Name : {{ user.lastName }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>



<div class="createAccount" *ngIf="!user">
<div class="row">
	<div class="col-md-5 col-sm-5 col-xs-12">
		<div class="signupImage">
			<img src="assets/svg/wave-element-21.svg" class="img-responsive" />
			<div class="signupImageHover">
				<h1>Discover Your World!</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
				<p> dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sm-7 col-xs-12">
		<div class="signupContent">
			<h1>Discover Your World!</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
			<h5>Sign Up With</h5>
			<div class="row col-sm-offset-1 omb_socialButtons">
				<div class="col-xs-6 col-sm-5">
			        <a (click)="signInWithFB()" class="btn btn-lg btn-block omb_btn-facebook">
				        <i class="fa fa-facebook"></i>
				        <span class="hidden-xs">Facebook</span>
			        </a>
		        </div>
	        	<div class="col-xs-6 col-sm-5">
			        <a (click)="signInWithGoogle()" class="btn btn-lg btn-block omb_btn-google">
				        <i class="fa fa-google"></i>
				        <span class="hidden-xs">Google</span>
			        </a>
		        </div>
			</div>
			<div class="row col-sm-offset-3 omb_loginOr">
				<div class="col-xs-12 col-sm-6">
					<hr class="omb_hrOr">
					<span class="omb_spanOr">or</span>
				</div>
			</div>	
			    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
			    	<div class="col-md-6">
				        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
				            <label for="firstName">First Name</label>
				            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
				            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
				        </div>
				    </div>
				    <div class="col-md-6">
				        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
				            <label for="lastName">Last Name</label>
				            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
				            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
				        </div>
				    </div>
			        <div class="col-md-6">
				        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
				            <label for="username">Username</label>
				            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
				            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
				        </div>
			    	</div>
			        <div class="col-md-6">
				        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
				            <label for="password">Password</label>
				            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
				            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
				        </div>
				    </div>			    
				    <div class="col-xs-offset-3 col-sm-5  col-xs-6">
				        <div class="form-group">
				            <button [disabled]="loading" class="mdButton">Register</button>
				            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				        </div>
			        </div>
			    </form>
			
			<!--<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">
						<label>E-Mail</label>
						<input type="text" name="" class="form-control" placeholder="Enter Your Email Id" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="" class="form-control" placeholder="Enter Password" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-3 col-sm-5  col-xs-6">
					<button class="mdButton">Create Account</button>	
				</div>
			</div> -->
			<div class="row">
				<div class="col-xs-12">
					<p class="alreadyHave">Already have an account? <a href="/login">Login</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>